<!--
  Generated template for the PortfoliosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Portfolios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div hidden>
      <ion-item>
        <ion-label>Portfolio</ion-label>
        <ion-select [(ngModel)]="current_portfolio" (change)="getPortfolio(current_portfolio.id)">
          <ion-option *ngFor="let portfolio of portfolios" value="portfolio.id">{{portfolio.name}}</ion-option>
        </ion-select>
      </ion-item>
  </div>
  <div>
    <div class="row header">
      <div class="col">Coin</div>
      <div class="col">Entry Price</div>
      <div class="col">Current Price</div>
      <div class="col">24H Change</div>
      <div class="col">P/L</div>
    </div>
    <ng-container *ngIf="active_portfolio">
      <div class="row" *ngFor="let coin of active_portfolio.coins">
        <div class="col">{{coin.symbol}}</div>
        <div class="col">{{coin.entry_price}}</div>
        <div class="col">{{coin.exchange.current_price}}</div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </ng-container>
  </div>

</ion-content>
